In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
# 기생충 크롤링
url = 'https://movie.daum.net/moviedb/grade?movieId=111292&type=netizen&page=1'
webpage = urlopen(url)

source = BeautifulSoup(webpage, 'html.parser', from_encoding='utf-8')
para_review = source.findAll('p', {'class': 'desc_review'})
rating = source.findAll('em', {'class':'emph_grade'})

para_review_csv = []
rating_csv = []
# 1 페이지 네티즌 리뷰 출력
for review in para_review:
    print(review.get_text().strip())
    para_review_csv.append(review.get_text().strip())
for ratings in rating:
    print(ratings.get_text().strip())
    rating_csv.append(ratings.get_text().strip())

돈많은 사람들 밑에서 그들에게 필요한 일을 해주며 사는 사람들을 기생충으로 묘사하다니...
따          봉!

신선했어요. 이런 영화 좋습니다~
너무 재밌었음
도대체  어떻게 이 영화에 1점을 줄수잇지??
수많은 질문과  철학을 말하는 영화


 너무  약함
1
9
9
9
10
10
10
8
1
1

In [2]:
para_review_csv

['돈많은 사람들 밑에서 그들에게 필요한 일을 해주며 사는 사람들을 기생충으로 묘사하다니...',
 '따          봉!',
 '',
 '신선했어요. 이런 영화 좋습니다~',
 '너무 재밌었음',
 '도대체  어떻게 이 영화에 1점을 줄수잇지??',
 '차갑게 웃기지만\r수많은 질문과  철학을 말하는 영화',
 '',
 '',
 '그동안 기다렸다가 이제야  봤는데  포인트가\r 너무  약함']

In [3]:
para_review_list = []
para_rating_list = []
for n in range(722):
    url1 = 'https://movie.daum.net/moviedb/grade?movieId=111292&type=netizen&page='
    url2 = n+1
    url = url1+str(url2)
    webpage = urlopen(url)
    source = BeautifulSoup(webpage, 'html.parser', from_encoding='utf-8')
    para_review = source.findAll('p', {'class': 'desc_review'})
    rating = source.findAll('em', {'class':'emph_grade'})

    for review in para_review:
        para_review_list.append(review.get_text().strip())
    for ratings in rating:
        para_rating_list.append(ratings.get_text().strip())
# file = open('para_review.txt', 'w', encoding='utf-8')

# for review in reviews_list:
#     file.write(review+'\n')
# file.close()

In [4]:
para_rating_list

['1',
 '9',
 '9',
 '9',
 '10',
 '10',
 '10',
 '8',
 '1',
 '1',
 '4',
 '8',
 '3',
 '10',
 '8',
 '10',
 '10',
 '6',
 '10',
 '10',
 '2',
 '10',
 '5',
 '10',
 '10',
 '10',
 '0',
 '10',
 '10',
 '8',
 '10',
 '10',
 '10',
 '10',
 '5',
 '10',
 '7',
 '10',
 '9',
 '10',
 '0',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '8',
 '10',
 '9',
 '10',
 '3',
 '4',
 '10',
 '0',
 '10',
 '10',
 '3',
 '10',
 '10',
 '9',
 '9',
 '10',
 '9',
 '8',
 '6',
 '10',
 '9',
 '10',
 '10',
 '8',
 '10',
 '10',
 '10',
 '10',
 '6',
 '10',
 '10',
 '10',
 '6',
 '10',
 '8',
 '10',
 '9',
 '10',
 '9',
 '10',
 '8',
 '0',
 '5',
 '0',
 '10',
 '10',
 '9',
 '10',
 '1',
 '2',
 '0',
 '10',
 '7',
 '10',
 '10',
 '10',
 '1',
 '10',
 '10',
 '10',
 '10',
 '9',
 '8',
 '4',
 '10',
 '10',
 '10',
 '10',
 '10',
 '6',
 '8',
 '10',
 '10',
 '2',
 '1',
 '10',
 '10',
 '9',
 '9',
 '9',
 '10',
 '5',
 '10',
 '8',
 '6',
 '10',
 '10',
 '10',
 '10',
 '5',
 '7',
 '10',
 '9',
 '1',
 '8',
 '9',
 '10',
 '10',
 '6',
 '9',
 '8',
 '5',
 '10',
 '8',
 '5',
 '10',
 '10',
 '1',
 '10',
 '10',
 '10',
 '8',
 '10',
 '1',
 '1',
 '10',
 '8',
 '1',
 '10',
 '7',
 '10',
 '10',
 '10',
 '1',
 '10',
 '7',
 '10',
 '10',
 '9',
 '10',
 '1',
 '10',
 '10',
 '10',
 '9',
 '8',
 '1',
 '9',
 '10',
 '9',
 '9',
 '10',
 '8',
 '8',
 '10',
 '3',
 '10',
 '10',
 '9',
 '9',
 '8',
 '9',
 '8',
 '8',
 '7',
 '10',
 '0',
 '10',
 '1',
 '9',
 '2',
 '0',
 '10',
 '7',
 '10',
 '10',
 '10',
 '6',
 '1',
 '7',
 '10',
 '10',
 '8',
 '10',
 '5',
 '10',
 '4',
 '10',
 '7',
 '10',
 '10',
 '10',
 '7',
 '2',
 '8',
 '9',
 '10',
 '10',
 '10',
 '9',
 '8',
 '7',
 '1',
 '9',
 '2',
 '10',
 '3',
 '8',
 '7',
 '10',
 '10',
 '9',
 '9',
 '10',
 '10',
 '9',
 '10',
 '10',
 '8',
 '9',
 '7',
 '7',
 '2',
 '10',
 '6',
 '9',
 '6',
 '6',
 '5',
 '10',
 '9',
 '3',
 '9',
 '5',
 '5',
 '10',
 '7',
 '5',
 '1',
 '7',
 '4',
 '9',
 '9',
 '9',
 '10',
 '10',
 '3',
 '9',
 '4',
 '4',
 '6',
 '10',
 '10',
 '2',
 '6',
 '10',
 '0',
 '2',
 '9',
 '8',
 '4',
 '10',
 '10',
 '8',
 '9',
 '6',
 '9',
 '7',
 '7',
 '1',
 '6',
 '10',
 '10',
 '10',
 '10',
 '10',
 '0',
 '0',
 '10',
 '9',
 '7',
 '7',
 '7',
 '7',
 '10',
 '5',
 '9',
 '8',
 '9',
 '7',
 '9',
 '10',
 '5',
 '9',
 '8',
 '3',
 '10',
 '8',
 '10',
 '2',
 '10',
 '10',
 '9',
 '10',
 '9',
 '8',
 '1',
 '10',
 '1',
 '10',
 '8',
 '6',
 '9',
 '8',
 '0',
 '10',
 '10',
 '1',
 '1',
 '10',
 '6',
 '4',
 '10',
 '10',
 '10',
 '8',
 '10',
 '10',
 '8',
 '9',
 '9',
 '2',
 '8',
 '8',
 '9',
 '9',
 '10',
 '10',
 '4',
 '8',
 '7',
 '9',
 '10',
 '1',
 '0',
 '10',
 '1',
 '9',
 '9',
 '0',
 '10',
 '1',
 '7',
 '0',
 '10',
 '5',
 '10',
 '10',
 '9',
 '8',
 '8',
 '10',
 '9',
 '10',
 '9',
 '9',
 '7',
 '8',
 '9',
 '3',
 '10',
 '7',
 '2',
 '3',
 '10',
 '8',
 '9',
 '8',
 '9',
 '9',
 '10',
 '9',
 '1',
 '8',
 '9',
 '9',
 '7',
 '10',
 '7',
 '8',
 '3',
 '0',
 '4',
 '8',
 '10',
 '10',
 '8',
 '4',
 '2',
 '10',
 '10',
 '10',
 '9',
 '3',
 '10',
 '9',
 '10',
 '9',
 '10',
 '2',
 '6',
 '7',
 '5',
 '9',
 '9',
 '7',
 '1',
 '9',
 '8',
 '5',
 '6',
 '8',
 '10',
 '7',
 '10',
 '10',
 '0',
 '8',
 '0',
 '9',
 '0',
 '10',
 '0',
 '8',
 '2',
 '7',
 '8',
 '9',
 '6',
 '10',
 '10',
 '5',
 '9',
 '1',
 '6',
 '10',
 '10',
 '4',
 '1',
 '1',
 '10',
 '1',
 '10',
 '1',
 '9',
 '7',
 '10',
 '10',
 '9',
 '5',
 '0',
 '7',
 '10',
 '0',
 '9',
 '10',
 '8',
 '1',
 '10',
 '10',
 '10',
 '10',
 '9',
 '3',
 '9',
 '10',
 '10',
 '7',
 '9',
 '7',
 '10',
 '8',
 '8',
 '9',
 '10',
 '10',
 '5',
 '9',
 '10',
 '1',
 '10',
 '4',
 '10',
 '5',
 '10',
 '9',
 '10',
 '7',
 '1',
 '10',
 '0',
 '8',
 '9',
 '8',
 '10',
 '8',
 '10',
 '7',
 '10',
 '7',
 '1',
 '10',
 '10',
 '7',
 '7',
 '8',
 '8',
 '10',
 '10',
 '10',
 '9',
 '10',
 '10',
 '8',
 '0',
 '7',
 '10',
 '10',
 '7',
 '8',
 '8',
 '4',
 '10',
 '10',
 '10',
 '8',
 '1',
 '10',
 '2',
 '10',
 '10',
 '10',
 '10',
 '10',
 '2',
 '7',
 '10',
 '10',
 '8',
 '9',
 '10',
 '10',
 '10',
 '5',
 '6',
 '6',
 '9',
 '9',
 '4',
 '7',
 '8',
 '10',
 '9',
 '8',
 '8',
 '8',
 '9',
 '10',
 '10',
 '7',
 '4',
 '7',
 '9',
 '10',
 '6',
 '10',
 '8',
 '8',
 '5',
 '9',
 '8',
 '6',
 '8',
 '10',
 '4',
 '10',
 '10',
 '10',
 '9',
 '10',
 '9',
 '9',
 '9',
 '1',
 '7',
 '7',
 '5',
 '10',
 '9',
 '7',
 '10',
 '7',
 '5',
 '10',
 '9',
 '8',
 '9',
 '10',
 '10',
 '10',
 '10',
 '5',
 '6',
 '6',
 '10',
 '5',
 '10',
 '10',
 '1',
 '9',
 '0',
 '10',
 '10',
 '0',
 '9',
 '9',
 '9',
 '10',
 '10',
 '2',
 '10',
 '10',
 '5',
 '9',
 '4',
 '9',
 '3',
 '10',
 '1',
 '2',
 '10',
 '10',
 '5',
 '10',
 '10',
 '1',
 '9',
 '9',
 '0',
 '2',
 '2',
 '9',
 '1',
 '10',
 '9',
 '10',
 '9',
 '9',
 '10',
 '10',
 '10',
 '10',
 '7',
 '10',
 '7',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '8',
 '6',
 '9',
 '1',
 '10',
 '7',
 '1',
 '10',
 '10',
 '10',
 '1',
 '10',
 '3',
 '0',
 '7',
 '8',
 '9',
 '10',
 '10',
 '5',
 '9',
 '10',
 '9',
 '10',
 '9',
 '8',
 '10',
 '7',
 '10',
 '9',
 '8',
 '9',
 '7',
 '1',
 '8',
 '9',
 '9',
 '1',
 '10',
 '8',
 '10',
 '6',
 '10',
 '5',
 '6',
 '10',
 '10',
 '10',
 '1',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '8',
 '10',
 '10',
 '7',
 '10',
 '10',
 '8',
 '10',
 '10',
 '1',
 '10',
 '10',
 '10',
 '8',
 '9',
 '10',
 '9',
 '10',
 '9',
 '1',
 '8',
 '10',
 '10',
 '8',
 '10',
 '10',
 '10',
 '9',
 '9',
 '10',
 '8',
 '10',
 '9',
 '10',
 '9',
 '10',
 '10',
 '10',
 '0',
 '10',
 '10',
 '10',
 '10',
 '10',
 '8',
 '10',
 '10',
 '1',
 '6',
 '10',
 '10',
 '9',
 '7',
 '10',
 '10',
 '10',
 '10',
 '9',
 '10',
 '10',
 '5',
 '10',
 '10',
 '8',
 '10',
 '10',
 '10',
 '10',
 '9',
 '0',
 '10',
 '10',
 '8',
 '10',
 '9',
 '5',
 '10',
 '9',
 '5',
 '10',
 '10',
 '10',
 '9',
 '10',
 '10',
 '10',
 '0',
 '10',
 '9',
 '9',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '8',
 '7',
 '10',
 '7',
 '9',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '8',
 '9',
 '9',
 '9',
 '1',
 '10',
 '9',
 '10',
 '9',
 '10',
 '3',
 '10',
 '10',
 '10',
 '10',
 '10',
 '9',
 '10',
 '0',
 '4',
 '9',
 '8',
 '7',
 '7',
 '10',
 '9',
 '10',
 '1',
 '8',
 '8',
 '1',
 '8',
 '7',
 '10',
 '10',
 '10',
 '6',
 '1',
 '9',
 '10',
 '10',
 '10',
 '3',
 '2',
 '5',
 '9',
 '10',
 '10',
 '9',
 '10',
 '10',
 '10',
 '9',
 '9',
 '8',
 '10',
 '6',
 '10',
 '10',
 '10',
 '5',
 '7',
 '10',
 '10',
 '5',
 '0',
 '1',
 '7',
 '9',
 '1',
 '10',
 '10',
 '5',
 '9',
 '8',
 '3',
 '5',
 '1',
 '9',
 '10',
 '7',
 '10',
 '0',
 '10',
 '10',
 '0',
 '10',
 '5',
 '10',
 '2',
 '0',
 '10',
 '9',
 '9',
 '7',
 '9',
 '8',
 '5',
 '9',
 '9',
 '8',
 '10',
 '3',
 '10',
 '8',
 '1',
 '0',
 '8',
 '10',
 '9',
 '0',
 '10',
 '5',
 '10',
 '10',
 '9',
 '9',
 '10',
 '10',
 '1',
 '10',
 '10',
 '10',
 '8',
 ...]

In [5]:
import pandas as pd

In [6]:
data_1 = pd.DataFrame(para_rating_list)
data_2 = pd.DataFrame(para_review_list)

In [7]:
data_1.head()

    0
0   1
1   9
2   9
3   9
4  10

In [8]:
data = pd.merge(data_1, data_2, how='outer', left_index=True, right_index=True)

In [9]:
data.columns = ['rating','review']

In [10]:
data

     rating                                             review
0         1  돈많은 사람들 밑에서 그들에게 필요한 일을 해주며 사는 사람들을 기생충으로 묘사하다...
1         9                                      따          봉!
2         9
3         9                                 신선했어요. 이런 영화 좋습니다~
4        10                                            너무 재밌었음
...     ...                                                ...
7210     10  일단 송강호 나오면 고민없이 볼것임\r이제까지 송강호 나오는 영화는 거의 작품이 괜...
7211     10                                             봉송진리ㅋㅋ
7212     10                                와 내 앞으로도 4명이나 있네 ;;
7213     10  두 시간이 어떻게 지났는지 생각할 겨를도 없이 어느새 엔딩이었네요. \r재치와 유머...
7214     10                              좌파폭도고발영화.전라도까는 내용이었어.

[7215 rows x 2 columns]

In [11]:
data.head()

  rating                                             review
0      1  돈많은 사람들 밑에서 그들에게 필요한 일을 해주며 사는 사람들을 기생충으로 묘사하다...
1      9                                      따          봉!
2      9
3      9                                 신선했어요. 이런 영화 좋습니다~
4     10                                            너무 재밌었음

In [13]:
data.to_csv("parasite.csv", index=False)

In [15]:
data_2 = pd.read_csv('parasite.csv', encoding='utf-8')

In [16]:
data_2

      rating                                             review
0          1  돈많은 사람들 밑에서 그들에게 필요한 일을 해주며 사는 사람들을 기생충으로 묘사하다...
1          9                                      따          봉!
2          9                                                NaN
3          9                                 신선했어요. 이런 영화 좋습니다~
4         10                                            너무 재밌었음
...      ...                                                ...
7210      10  일단 송강호 나오면 고민없이 볼것임\r이제까지 송강호 나오는 영화는 거의 작품이 괜...
7211      10                                             봉송진리ㅋㅋ
7212      10                                와 내 앞으로도 4명이나 있네 ;;
7213      10  두 시간이 어떻게 지났는지 생각할 겨를도 없이 어느새 엔딩이었네요. \r재치와 유머...
7214      10                              좌파폭도고발영화.전라도까는 내용이었어.

[7215 rows x 2 columns]